.dashboard {
  @apply flex;
  @apply w-full;
  @apply h-auto;
  @apply bg-dark-primary;

  .pnl-wrapper {
    @apply min-w-[56.25rem]; // 900px
    @apply mr-auto;
    margin-left: 20%;
    @apply mt-[3.75rem]; //60px

    .pnl-line-chart-wrapper {
      @apply w-full;
      @apply h-[352px];
      @apply bg-gray-primary;
      @apply mt-6;
      @apply rounded-xl;

      canvas {
        @apply p-4;
      }
    }

    .add-order-btn {
      @apply block;
      @apply bg-teal-primary;
      @apply text-dark-primary;
      @apply rounded-xl;
      @apply mt-6;
      @apply p-4;
      @apply w-[7rem];
    }
  }

  .column-heading {
    @apply text-teal-primary;
    @apply font-extralight;
  }

  .header-columns {
    @apply flex;
    @apply gap-5;

    .header-column-wrapper {
      @apply flex-grow;
      @apply bg-gray-primary;
      @apply w-[13.125rem]; //210 px
      @apply rounded-xl;
      @apply p-6;

      h3 {
        font-size: 32px;
      }
    }
  }

  .footer-columns-wrapper {
    @apply flex;
    @apply gap-5;
    @apply mb-6;

    .footer-column {
      @apply flex-grow;
      @apply min-h-[352px];
      @apply mt-6;
      @apply p-6;
      @apply bg-gray-primary;
      @apply rounded-xl;
    }

    .tabs {
      @apply flex;
      @apply gap-3;
      @apply mb-4;

      .tab-item {
        @apply cursor-pointer;
      }
    }

    table {
      @apply w-full;

      thead {
        th {
          @apply text-teal-primary;
          @apply pb-4;
          @apply font-extralight;
          @apply text-left;
        }
      }

      tbody {
        @apply bg-dark-table;
      }

      tr {
        @apply border-b-teal-primary;
        @apply border-b-[1px];

        &:last-child {
          @apply border-none;
        }

        td {
          @apply p-4;
        }
      }
    }
  }
}

.sidebar-wrapper {
  @apply h-screen;
  @apply fixed;
  width: 15%;
  height: 100%;
  @apply bg-dark-secondary;
  @apply p-4;

  h1 {
    @apply text-4xl;
    @apply mt-10;
  }

  ul {
    @apply mt-6;
  }
}
